/* * * * * * */
/* Constants */
/* * * * * * */
:root {
  --blue:#14406c;
  --dark-blue:#0a1727;
  --colorClaro: #0000fb;
  --blue: #09436b;
  --colorMuyOscuro: #15161c;
  --dark-cream:#e2cd66;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
  --gradiente:linear-gradient(  to right, var(--colorMuyOscuro), var(--colorClaro));

  /* * *  */
  /* SIZE */
  /* * *  */  
  --navegation-height:50px;
  --settings-width:400px;

  /*******************/
  /*** Font sizes ***/
  /*****************/
  /* Title font size */
  --min-title-size:32px;
  --max-title-size:52px;
}

/* * * * * */
/* General */
/* * * * * */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  text-align: center;
}

.flex-container{
  align-items: center;
  display: flex;
  justify-content: center;
}

/* * * * * */
/* HEADER  */
/* * * * * */
.header-container{
  background-color: var(--dark-blue);
  height: var(--navegation-height);
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo-img{
  height: 25px;
  padding: 12.5px;
  width: auto;
}

.menu-container{
  background: linear-gradient(180deg, var(--dark-blue), var(--blue));
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  left: -300vw;
  padding-top: 10px;
  position: fixed;
  top: 50px;
  transition-duration: 0.35s;
  width: 100%;
  z-index: 3;
}

.menu-link{
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 400;
  height: fit-content;
  letter-spacing: 3px;
  padding: 10px 20px;
}

.menu-selection{
  text-decoration: underline;
  text-decoration-color: var(--dark-cream);
  text-decoration-thickness: 3px;
}

.menu-burger-button{
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  width: 50px;
}

.menu-settings-button{
  align-items: center;
  background-color: var(--dark-blue);
  border-radius: 50px;
  border: none;
  bottom: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  height: 50px;
  justify-content: center;
  margin: 0;
  padding: 10px;
  position: fixed;
  right:10px;
  transition-duration: 0.35s;
  width: 50px;
  z-index: 2;
}

.show-menu{
  left: 0px;
}  

/* * * * * */
/* Content */
/* * * * * */

.row, .row-inverted {
  display: flex;
  flex-direction: row;
  height: 46vh;
  width: 100%;
}

.col, .col-parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  text-align: center;
}

.col-parrafo{
  width: 75%;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

.color-col {
  background-color: var(--colorMuyOscuro);
}

.img-col {
  height: 100%;
  width: 50%;
  padding: 0;
}

.img-col-nosotros {
  height: 100%;
  width: 25%;
  padding: 0;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.mision-vision {
  font-size: 4vh;
  padding: 3%;
}

/* * * * * */
/* Buttons */
/* * * * * */
.boton-oscuro,.boton-claro {
  font-size: 1.5vw;
  /*font-family: "Tajawal", sans-serif; */
  border-radius: 10px;
  padding: 0px;
  margin: 0.4rem auto;
  width: 50%;
  height: 50px;
  text-align: center;
  padding: auto auto;
}

.boton-oscuro{
  background-color: var(--blue);
  border: solid black 1px;
  color: white;
}

.boton-claro{
  background-color: white;
  border: solid var(--blue) 2px;
  color: var(--blue);
}

.boton-oscuro:hover {
  background-color: white;
  color: var(--blue);
  border: solid 2px var(--blue);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

.boton-claro:hover{
  background: var(--colorMuyOscuro);
  color: white;
  cursor: pointer;
  border-color: var(--colorMuyOscuro);
}

.scroll-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  border: solid transparent 2px;
}

.scroll-top:hover{
  /*border: solid var(--colorClaro) 5px;*/
}

.scroll-top p{
  margin: 0;
  font-size: 18px;
}

.scroll-top i{
  font-size: 30px;
  margin-bottom: 5px;
}

.palabra-resaltada {
  background: var(--blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-row {
  width: 100%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.titulo {
  text-align: center;
  font-size: 5vh;
  font-weight: bold;
}

.carousel {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parrafo {
  font-size: 1.6vw;
  text-align: justify;
  padding: 0 8%;
}

.filosofia-bg {
  margin:40px 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filosofia {
  color: var(--colorClaro);
  text-align: center;
  width: 90%;
  font-size: 1.2rem;
  border:  solid var(--colorClaro) 2px;
  border-radius: 10px;
  padding: 20px;
}

/* * * * *  */
/* Carousel */
/* * * * *  */
.carousel-mobile {
  position: relative;
  margin-top: 26px;
}

.carousel-mobile-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-mobile-open:checked + .carousel-mobile-item {
  position: static;
  opacity: 100;
}

.carousel-mobile-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.carousel-mobile-item img {
  display: block;
  height: auto;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.carousel-mobile-control {
  border-radius: 50%;
  color: var(--blue);
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.carousel-mobile-control.prev {
  left: 2%;
}

.carousel-mobile-control.next {
  right: 2%;
}

.carousel-mobile-control:hover {
  color: #aaaaaa;
}

#carousel-mobile-1:checked ~ .control-1,
#carousel-mobile-2:checked ~ .control-2,
#carousel-mobile-3:checked ~ .control-3 {
  display: block;
}

/* * * * */
/* Cards */
/* * * * */
.card-container {
  display: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card-img{
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

.cards {
  display: flex;
  padding: 25px 4%;
  list-style: none;
  justify-content: center;
  margin: auto 100px;
}

.card {
  display: flex;
  flex-basis: calc(25% - 30px);
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: white;
  border-radius: 12px;
  color: var(--blue);
  /* border: var(--colorClaro) solid 5px; */
  /* scroll-snap-align: start;*/
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 40px;
}

.card:hover {
  color: var(--white);
  background: var(--colorClaro);
}

.card .card-title {
  font-size: 20px;
  margin-top: 15px;
}

.card .card-content {
  margin: 20px auto;
  max-width: 85%;
}

.card ul{
  padding: 0;
}

.card li{
  display: inline;
  margin: 0 10px;
  font-size: 20px;
}

.control-cards{
  color: var(--blue);
  font-size: 40px;
  transform: translateY(45%);
}

.card:hover .card-link {
  background: var(--blue);
}

/*************/
/***FOOTER***/
/***********/

.footer-container{
  background-color: var(--dark-blue);
  height: fit-content;
  padding: 5px 0;
}

.footer-container p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.social-media{
  background-color: var(--light-cream);
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin: 5px;
  width: 30px;
}

/* * * * * *  */ 
/* Animations */
/* * * * * *  */
.fade-in {
  animation: fadeIn 4s;
}

.fade-in-long {
  animation: fadeIn 10s;
}

.walk-in-left {
  animation: walkInLeft 1s;
  overflow: hidden;
}

.walk-in-right {
  animation: walkInRight 1s;
  overflow: hidden;
}

/********************/
/* Responsive text */
/******************/

/* sintax  linear responsive text [min font size + (max font size - min font size) * ((viewport width - min viewport width) / (max viewport width - min viewport width))] */

.fluid-font-title{
  font-size: var(--min-title-size)
}

/* Scren with a width equal or bigger than 320px  */
@media screen and (min-width: 320px) {
  .fluid-font-title{
    font-size: calc(var(--min-title-size) + 20 * ((100vw - 320px) / 1600)) ;
  }
}


/* Scren with a width equal or bigger than 1920px  */
@media screen and (min-width: 1920px) {
  .fluid-font-title{
    font-size: var(--max-title-size);
  }
}

/**********************/
/* Responsive design */
/********************/

/**********************/
/* Mobile (landscape)*/
/********************/

/*** Only works for mobiles in landscape with resulution of height : 412 px with width: > 412 px ***/

@media (max-height:412px) and (orientation:landscape){
  
  .settings-sub-sub-container{
    flex-wrap:nowrap;
  }
}

/******************/
/* DESKTOP STYLE */
/****************/

/***********************************/
/* Desktop and tablet (landscape) */
/*********************************/

/*********************/
/* Only break point */
/*******************/
/* 
 --------------------------  Explication -> ipad resolution is 768 x 1024px in vertical postion
 |                        |                 is considered as a smartphone, but in 1024 x 768px 
 |                        |                 is considered as a computer, this break point consider
 |     916 x 412 px       |                 that only exist two design mobile or desktop,the bigger
 |                        |                 resolution in phone founded was 411 x 812px, so we take
 |                        |                 the limit values of resolution as following: width:768+1px
 --------------------------                 and height:411+1px up this are computer down this are a phone
*/

@media (min-height:412px) and (min-width: 916px) {
  
  /*************/
  /***HEADER***/
  /***********/

  .menu-burger-button{
      display: none;
  }

  .menu-container{
    align-items: center;
    background: transparent;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    padding-top: 0;
    position: static;
    width: fit-content;
  }

  .menu-settings-button{
    display: none;
  }

  .carousel-mobile{
    display: none;
  }

  .card-container{
    display: block;
  }

}

@keyframes fadeIn {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@keyframes walkInLeft {
0% {
  margin-right: 100%;
}
100% {
  margin-right: 0;
}
}

@keyframes walkInRight {
0% {
  margin-left: 100%;
}
100% {
  margin-left: 0;
}
}

@media (max-width: 900px) {
  .boton-claro, .boton-oscuro{
    font-size: 2vh;
  }

  .scroll-top{
    width: fit-content;
    right: 0px;
    bottom: 0px;
  }

  .parrafo{
    font-size: 3vh;
  }

  .row, .row-prod2, .row-filos {
    flex-direction: column;
    height: fit-content;
  }

  .row-prod1, .row-inverted{
    flex-direction: column-reverse;
    height: fit-content;
  }

 .row-prod2{
    margin-top: 8%;
  }

  .title-row{
    height: 20%;
  }

  .col,
  .img-col,
  .col-carousel {
    width: 100%;
    height: 40vh;
  }

  .col-carousel{
    height: fit-content;
  }

  .col-parrafo, .col-descripcion-producto{
    height: fit-content;
    width: 100%;
  }

  .col-descripcion-producto{
    margin: 40px 0;
  }

  .mision-vision{
    font-size: 3.5vh;
  }

  button{
    width: 60%;
  }

  .filosofia{
    font-size: 3.5vw;
  }
}

@media (min-width: 700px) {
  .card {
    flex-basis: calc(calc(100% / 3) - 20px);
  }

  .card:not(:last-child) {
    margin-right: 30px;
  }
}