:root {
  --colorClaro: #959ce8;
  --colorOscuro: #5757ce;
  --colorMuyOscuro: #15161c;
  --gradiente:linear-gradient(
    to right,
    var(--colorMuyOscuro),
    var(--colorClaro)
  );
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Tajawal", sans-serif;
  margin: 0;
}



/* Contenido */

.fullscreen{
    height: 92vh;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width:50%;
    text-align: center;
}

.color-col{
  background: var(--gradiente);
}

.img-col{
    height: 100%;
    width:50%;
    padding: 0;
}

.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mision-vision{
    font-size: 2vw;
    padding: 3%;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

button{
  font-size: 1.4vw;
  font-family: "Tajawal", sans-serif;
  
  color: white;
  background-color: black;
  border: solid black 2px;
  border-radius: 10px;
  padding: 5px;
  margin: .4rem auto;
  width: 32%;
  height: 44px;
  text-align: center;
}

button a{
  color: inherit;
  text-decoration: none;
  background-color: inherit;
  width: 100%;
  height: 100%;
}

button a:hover{
  background-color: white;
  
}

button:hover{
  background-color: white;
  color: var(--colorOscuro);
  border:solid 2px var(--colorOscuro);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
}

.palabra-resaltada {
    background: var(--gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-row{
  width: 100%;
  height: 10%;
  margin-top: 8%;
}

.titulo{
  text-align: center;
  font-size: 2.5rem;
}

.row-prod, .filosofia-bg{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.col-carousel{
  height: 100%;
  width: 60%;
}

.col-descripcion-producto{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
  ;
}

.parrafo{
  font-size: 1.6vw;
  text-align: justify;
  padding: 0 8%;
}

.row-filos{
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filosofia-bg{
  margin-top: 10%;
  background: var(--gradiente);
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filosofia{
  color: white;
  text-align: center;
  width: 90%;
  font-size: 1.8rem;
}


.titulo-producto{
  font-size: 2rem;
  margin: 0;
}


.table {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}



.fade-in{
  animation: fadeIn 8s;
  
}

.fade-in-long{
  animation: fadeIn 10s;
  
}

.walk-in-left{
  animation: walkInLeft 1s;
  overflow: hidden;
}

.walk-in-right{
  animation: walkInRight 3s;
  overflow: hidden;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes walkInLeft{
0%{margin-right: 100%}
100%{margin-right: 0;}
}

@keyframes walkInRight{
0%{margin-left: 100%}
100%{margin-left: 0;}
}
